@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}
.group:hover .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
}
@layer base {
  :root {
    --spotlight-color: transparent; 
  }
  .dark {
    --spotlight-color: rgba(255, 255, 255, 0.15); 
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, currentColor 1px, transparent 1px),
                      linear-gradient(to bottom, currentColor 1px, transparent 1px);
  }
}

